.tool {
    opacity: 0 !important;
    transition: all 0.2s;
}

.tool-box {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}
.tool-box:hover {
    .tool-text {
        text-decoration: underline;
    }
    .tool {
        opacity: 1 !important;
    }
}
