@lableWidth: 120px;

.highrisk-pop {
    :global(.ant-modal-title) {
        font-size: 18px;
    }

    :global(.ant-tabs-nav) {
        margin-left: 20px;
        margin-bottom: 6px;
    }

    :global(.ant-col) {
        margin-bottom: 8px;
    }

    :global(.ant-tabs-content-holder) {
        padding: 0 20px;
    }

    .highrisk-sign {
        &-header {
        }

        &-content {
            height: 400px;
            overflow: auto;
        }

        :global(.ant-row) {
            margin-bottom: 0;
        }

        :global(.ant-form-item) {
            margin-bottom: 4px;
            margin-right: 16px;
        }

        :global(.ant-input),
        :global(.ant-tree) {
            font-size: 16px;
        }

        :global(.ant-select-selection-overflow) {
            max-width: 99%;
        }

        .highrisk-infec {
            width: 100%;
        }

        .highrisk-factor {
            // width: 456px;

            :global(.ant-select-selector) {
                height: 88px;
                overflow-y: auto;
            }
        }

        .highrisk-options {
            height: 350px;
            overflow: auto;
        }
    }

    .row-content {
        display: flex;
        justify-content: space-between;
    }

    .col-content {
        height: 340px;
        overflow: auto;
        padding-left: 10px;
    }

    .tree-title {
        font-size: 14px;
        font-weight: 600;
        line-height: 40px;
    }
}
