.return-btns {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  text-align: right;
  :global(.ant-btn) {
    min-width: 128px;
    border-radius: 4px;
  }
}
.fixed {
  position: fixed;
  right: 24px;
  bottom: 24px;
}